@media screen and (min-width: 1024px) {
    body {
    font-size: 100%;
    }
}


@media screen and (max-width: 480px) {
 
    body {
        color: red;
        font-size: 200%;
    }
    
    h1 {
        text-align: center;
    }
    
    h2 {
        font-size: 40px;
        margin-bottom: none;
    }
    
    input {
        width: 100%;
    }
    
    p {
        margin: none;
    }
    
    .radio-tool {
        width:15%
    }
    
    .button-tool {
        width: 40%;
    }
    
    #alignment {
        text-align: center;
    }

    }
    
    